.App {
  text-align: center;
  background: black;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.page_top {
  position: relative;
  width: 100vw;
  height: 20vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: 100px;
}

.content_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 4rem 2rem;  

  .left_side {
    width: 45%;
    padding: 2rem;
    border: solid 1px #888;
  }

  .right_side {
    width: 45%;
    padding: 2rem;
    border: solid 1px #888;
  }

}

.title {
  display: block;
  width: fit-content;
  font-size: 5rem;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  opacity: 0.8;
  user-select: none;
  transition: transform 0.2s linear;
&:hover {
  -webkit-text-fill-color: var(--color-1);
  text-fill-color: var(--color-1);
  transform: scale(1.1);
}
}



  
 

h2 {
  font-size: 2rem;
  color: var(--color-4);
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(0.8);
  }
}
h4 {
  font-size: 1.2rem;
  color: var(--color-5);
}


.App > nav {
  position: absolute;
  top: 20vh;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: lightslategray;
  overflow-x: hidden;
  
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  padding: 0 1rem;
  
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:nth-child(2):before {
  content: ' Other Page';
  position: absolute;

}
a:nth-child(2):hover:before {
  content: 'Lets go!';
transform: scale(1.05);
font-weight: 800;
text-shadow: 2px 2px 1px var(--color-3);
}