.App {
  text-align: center;
  background: black;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  width: 100vw;
  height: 20vh;
  background-color: var(-color-3);
}

.content_wrapper {

}

h1 {
  font-size: 6rem;
  color: var(--color-1);
}
h2 {
  font-size: 2rem;
  color: var(--color-2);
}
h4 {
  font-size: 1.2rem;
  color: var(--color-3);
}


.cursor {
  width: 200px;
  height: 200px;
  border: 10px solid var(--color-5);
  background-color: #fffffff0;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}
